*{
  padding: 0px;
  margin: 0px;
}

body {
  margin: 20px;
  background-color: #a5a5b1;
}

html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  margin: 5px;
  background: rgb(179, 179, 234);
  text-align: left;
}

ul{
  list-style: none;
  
}

.card {
  background-color: #ffffff;
  border-radius: 50px;
  color: #000000;
  font-family: 'Marcellus', serif;
  background-color: rgb(179, 179, 234);
  margin: 3px;
}


.hidden {
  display: none;
}

#temp{
  place-items: center;
}

#forecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-weather {
  margin-bottom: 20px;
}